// Imports

// @import url('http://fonts.cdnfonts.com/css/product-sans');
                
// Variables
$dark-green: #02734A;
$basic-green:#72A603;
$light-white:#F2ECE4;
$basic-orange:#F27405;
$dark-orange:#F25C05;

$small: 10px;
$x-small:20px;
$medium: 30px;
$large: 35px;
$x-large: 40px;